#add-button {
	background-color: #e67e22;
	border: none;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	padding-top: 5px;
	webkit-box-shadow: 0 0 4px rgba(0,0,0,.14);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.14);
    box-shadow: 0 0 4px rgba(0,0,0,.14);
    float: right;
}

#add-icon {
	font-size: 30px;
	color: white;
}

#add-inp {
	height: 70px;
	position: absolute;
	background-color: #e67e22;
	border-radius: 5px 0 0 5px;
	z-index: -1;
	right: 30px;
	transition: width 0.3s ease-in-out;
}

.display-vis-inline {
	width: 325px;
}

.display-none {
	width: 0px;
	padding: 0;
}

.display-inp{
	width: 280px;
}

#new-inp {
	margin: 18px 0 0 15px;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	font-family: 'Montserrat', sans-serif;
	transition: width 0.3s ease-in-out;
}

#preview-panel {
	position: absolute;
	top: -90px;
	right: 30px;
	float: right;
	height: 90px;
	background-color: white;
	webkit-box-shadow: 0 5px 8px -6px #999;
    moz-box-shadow: 0 5px 8px -6px #999;
  	box-shadow: 0 5px 8px -6px #999;
  	border-radius: 5px 5px 0 0;
  	transition: width 0.3s ease-in-out;
  	box-sizing: border-box;
    -moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
}

.display-prev{
	width: 280px;
	padding: 10px 10px 10px 10px;
}

.preview-poster {
	width: 50px;
	height: auto;
	display: inline-block;
}

#info {
	display: block;
	width: 190px;
	float: right;
	height: 100%;
	margin: 0 10px 0 10px;
	font-family: 'Montserrat', sans-serif;
}

.prev-title {
	display: block;
	width: 180px;
	height: 50%;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.new-entry-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	color: gray;
	font-size: 40px;
	&:hover {
		color: black;
	}
}
