#add-button {
	background-color: #e67e22;
	border: none;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	padding-top: 5px;
	webkit-box-shadow: 0 0 4px rgba(0,0,0,.14);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.14);
    box-shadow: 0 0 4px rgba(0,0,0,.14);
    float: right;
}

#add-icon {
	font-size: 30px;
	color: white;
}

#add-inp {
	height: 70px;
	position: absolute;
	background-color: #e67e22;
	border-radius: 5px 0 0 5px;
	z-index: -1;
	right: 30px;
	transition: width 0.3s ease-in-out;
}

.display-vis-inline {
	width: 325px;
}

.display-none {
	width: 0px;
}

.display-inp{
	width: 280px;
}

#new-inp {
	margin: 18px 0 0 15px;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	font-family: 'Montserrat', sans-serif;
	transition: width 0.3s ease-in-out;
}
