<div id="add-inp" ng-class="{'display-vis-inline': vm.barActive,
'display-none': !vm.barActive}">
    <div ng-class="{'display-prev': vm.barActive && vm.previewResults != null,
    'display-none': !vm.barActive || vm.previewResults == null}" id="preview-panel">
        <img ng-show="vm.previewResults != null && vm.barActive" class="preview-poster" ng-src="{{vm.make_poster_url()}}">
        <div ng-show="vm.previewResults != null && vm.barActive" id="info">
            <p ng-class="{'p-show': vm.barActive && vm.previewResults != null,
            'p-hide': !vm.barActive || vm.previewResults == null}" class="prev-title">{{vm.previewResults.title}} </p>
            <p ng-class="{'p-show': vm.barActive && vm.previewResults != null,
            'p-hide': !vm.barActive || vm.previewResults == null}" class="prev-title">
            {{vm.previewResults.release_date | date:'y'}} </p>
            <button ng-show="vm.previewResults != null" class="new-entry-button no-bord" ng-click="vm.addNew(vm.previewResults)">+</button>
        </div>
    </div>
    <div ng-show="vm.barActive" class="new-movie">
            <input ng-class="{'display-inp': vm.barActive,
            'display-none': !vm.barActive}"
            ng-change="vm.updateQueue(vm.addInp)"
            class="form-control" id="new-inp" placeholder="Add a new movie..." ng-model="vm.addInp">
    </div>
</div>

<button id="add-button" class="no-bord" ng-click="vm.barOpen = !vm.barOpen; vm.setBarActive(vm.barOpen)">
    <i id="add-icon" class="no-bord material-icons">add_to_queue</i>
</button>
