<div id="add-inp" ng-class="{'display-vis-inline': vm.barActive,
'display-none': !vm.barActive}"
 ng-mouseover="vm.barActive=true"
 ng-mouseleave="vm.barActive=false; vm.barOpen = false">
    <div ng-show="vm.barActive" class="new-movie">
            <input ng-class="{'display-inp': vm.barActive,
            'display-none': !vm.barActive}"
            class="form-control" id="new-inp" placeholder="Add a new movie..." ng-model="vm.add_inp">
    </div>
</div>

<button id="add-button" class="no-bord" ng-click="vm.barOpen = !vm.barOpen; vm.barActive = vm.barOpen">
    <i id="add-icon" class="no-bord material-icons">add_to_queue</i>
</button>
