<div class="tile">
	<img class="movie_poster" ng-src="{{vm.getPosterUrl()}}">
	<div class="overlay">
		<div class="button-div">
			<button ng-show="!movie.watched" title="Mark as watched" ng-click="vm.setWatchedMovie()" class="fa-button no-bord">
				<i class="fa fa-check fa-3x no-bord" aria-hidden="true"></i>
			</button>
			<button title="Remove" ng-click="vm.deleteMovie()" class="fa-button no-bord">
				<i class="fa fa-times fa-3x no-bord" aria-hidden="true"></i>
			</button>
		</div>
	</div>
	<i ng-show="movie.watched" class="fa fa-check-square fa-2x no-bord" id="watched-mark" aria-hidden="true"></i>

</div>
