<searchbar> </searchbar>

<section id="listing-view" class="container-fluid">
  <div class="container movie_listing">
    <div ng-repeat="movie in vm.user.movie_list | searchBoxFilter:vm.searchBarEntry.text">
    	<div class="col-lg-3 col-md-4 col-sm-6 col-padding">
    		<infotile movie="movie"> </infotile>
    	</div>
    </div>
  </div>
  <div id="disclaimer">
  	<img id="disclaimer-logo" src="/images/tmdb_logo.svg">
	This product uses the TMDb API but is not endorsed or certified by TMDb.
  </div>
  <newitem> </newitem>
</section>
