.panel-box {
	background-color: white;
	padding: 15px 30px 45px 30px;
	border-radius: 15px;
	webkit-box-shadow: 0 8px 8px -6px #999;
    -moz-box-shadow: 0 8px 8px -6px #999;
    box-shadow: 0 8px 8px -6px #999;
    width: 400px;
    margin: 5% auto;
}