<div class="panel-box">
	<section id="login-view" class="container-fluid">
	  <div ng-if="vm.errorMessage">
	  	<div class="alert alert-danger"> 
	  		{{ vm.errorMessage }} 
	  	</div> 
	  </div>

	  <div class="row">
	    
	    <div class="col-md-12">

	      <h1 class="form-signin-heading">Sign in</h1>

	      
	      <p class="lead">Not a member? Please <a href="register">register</a> instead.</p>
	  
	      <form ng-submit="vm.onSubmit()">
	        <div class="form-group">
	          <input type="email" class="form-control" id="email" placeholder="Email" ng-model="vm.credentials.email">
	        </div>
	        <div class="form-group">
	          <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
	        </div>
	        <button type="submit" class="btn btn-default">Sign in!</button>
	      </form>
	    </div>
	  </div>
	</div>
</div>

</section>	